.coin-cointainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.coin-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.coin-info h1 {
  text-transform: capitalize;
}

.coin-info h1 span {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
.coin-highlight {
  display: flex;
  gap: 0.5rem;
}

.coin-highlight button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.rank {
  background-color: rgb(14, 130, 140);
  color: #fff;
}

.mInfo {
  background-color: #0c6cf2;
  color: #fff;
}

.info .iconBtn {
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  border: none;
}
.coin-infos {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 0;
}

.coinStats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid gray;
}
.coinStats:hover {
  background-color: #e6f7ee;
}
.coinStats h3 {
  font-size: 1.2rem;
}

@media (min-width: 62em) {
  .coin-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .coinStats {
    width: 450px;
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2.5rem 0;
}

.button-container button {
  border: 1px solid #126bff;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
  background-color: none;
}

@media (min-width: 62em) {
  /* .coin-cointainer {
    flex-direction: column;
    align-items: flex-start;
  } */
  .button-container button {
    width: 200px;
  }
}
